.lineTech {
  position: absolute;
  left: -20px;
  top: 4px;
}
@media screen and (max-width: 680px) {
  .lineTech {
    left: -15px;
  }
}

.allTechnologies {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.gridSection {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media screen and (max-width: 910px) {
  .gridSection {
    column-gap: 40px;
    row-gap: 50px;
  }
}
@media screen and (max-width: 770px) {
  .gridSection {
    column-gap: 30px;
  }
}

.technology {
  max-width: 235px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 910px) {
  .technology {
    max-width: 200px;
  }
}
@media screen and (max-width: 770px) {
  .technology {
    max-width: 180px;
  }
}
@media screen and (max-width: 680px) {
  .technology {
    max-width: 150px;
  }
}
@media screen and (max-width: 400px) {
  .technology {
    max-width: 130px;
  }
}
.technology span {
  color: var(--icons-color);
  font-size: var(--mb-font);
}
.technology h3 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: var(--regular-font);
  font-weight: 500;
}
.technology p {
  font-size: var(--regular-font);
  font-weight: 400;
  color: var(--white-color-second);
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 680px) {
  .gridSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
    justify-content: center;
  }
  .technology {
    gap: 8px;
    max-width: 265px;
  }
  .technology span {
    font-size: var(--medium-font);
  }
  .technology h3,
  .technology p {
    font-size: var(--small-font);
  }
}