.content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sendingForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 568px;

    input,
    textarea {
        padding: 15px 17px;
        background: transparent;
        border: none;
        outline: none;
        color: var(--background);
        border: 2px solid var(--main-color);
        border-radius: var(--xxl-border-radius);
        font-size: var(--regular-font);
        font-weight: 400;
        resize: none;
        transition: var(--transition);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        &:focus {
            border: 2px solid var(--input-border-color);
            box-shadow: 0 0 10px var(--main-color);
        }

        &:hover {
            border-color: var(--input-border-color);
            box-shadow: 0 0 10px var(--main-color);
        }
    }

    input:focus::placeholder,
    textarea:focus::placeholder {
        transition: var(--transition);
        color: var(--main-color);
        transform: translateY(-10px);
        transform: translateX(10px);
        font-size: var(--small-font);
    }

    textarea {
        border-radius: var(--regular-font);
        height: 190px;
    }
}

.socials {
    color: var(--white-color-second);
    font-size: var(--ms-font);
    height: 20px;

    a {
        color: var(--main-color);
    }
}

.avatar {
    display: grid;
    place-items: center;
    max-width: 250px;
    border-radius: 50%;

    img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        transition: var(--transition);

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
    }
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 900px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .imgContainer {
        height: 300px;
    }

    .sendingForm {
        display: grid;
        grid-template-columns: 35vw 35vw;
        justify-content: center;

        textarea {
            grid-column: 1 / span 2;
        }
    }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
    .container h2 {
        margin-bottom: 60px;
    }

    .sendingForm {
        display: flex;
        align-items: center;

        input,
        textarea {
            padding: 10px;
            font-size: var(--ms-font);
            width: 90vw;
        }
    }

    .imgContainer {
        height: 200px;
    }

    .container {
        padding-top: 100px;
    }
}

@media screen and (max-width: 450px) {
    .sendingForm {

        input,
        textarea {
            font-size: var(--small-font);
        }
    }
}