.button {
  padding: 20px;
  cursor: pointer;
  background: var(--green-color);
  border: none;
  border-radius: var(--medium-border-radius);
  color: var(--white-color);
  width: max-content;
  transition: var(--transition);
  display: inline-block;
}
.button:hover {
  background: var(--dark-green-color);
}