.navbar {
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: var(--transition);
}

.navbarColored {
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: var(--transition);
  background: var(--white-color2);
}

.nav_container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  width: var(--max-width);
  padding: 0 var(--big-width-padding);
}
@media screen and (max-width: 1024px) {
  .nav_container {
    padding: 0 var(--normal-width-padding);
  }
}
@media screen and (max-width: 1000px) {
  .nav_container {
    padding: 0 var(--medium-width-padding);
  }
}
@media screen and (max-width: 600px) {
  .nav_container {
    padding: 0 var(--small-width-padding);
  }
}
@media screen and (max-width: 450px) {
  .nav_container {
    padding: 0 var(--xs-width-padding);
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: var(--transition);
  font-size: var(--regular-font);
}

.link {
  font-weight: 500;
  transition: var(--transition);
}
.link:hover {
  color: var(--main-color);
}

.contactAndTheme {
  display: flex;
  gap: 30px;
  align-items: center;
}

.justContactButton {
  padding: 12px 22px;
  border: 2px solid var(--background);
  border-radius: var(--xl-border-radius);
  transform: var(--transition);
}
.justContactButton:hover {
  border: 2px solid var(--main-color);
}

.logout {
  margin-left: 40px;
  display: grid;
  place-items: center;
  padding: 9px;
  border: none;
  background: var(--main-color);
  color: rgb(195, 37, 37);
  border-radius: var(--small-border-radius);
  cursor: pointer;
  transition: var(--transition);
  font-size: var(--medium-font);
}
.logout:hover {
  background: var(--dark-main-color);
}
@media screen and (max-width: 1050px) {
  .logout {
    margin-left: 10px;
  }
}

.toggleBtn {
  display: none;
}

.activeLink {
  padding: 4px 0;
  cursor: pointer;
  transition: var(--transition);
}
.activeLink:hover a {
  color: var(--main-color);
}

.hiddenContact {
  display: none;
}

/* MEDIA QUERIES (medium and small screens) */
@media screen and (max-width: 850px) {
  .links {
    gap: 15px;
  }
  .logout {
    margin-left: 25px;
  }
}
/* MEDIA QUERIES (medium and small screens) */
@media screen and (max-width: 990px) {
  .contactAndTheme {
    flex-direction: column;
  }
  .justContactButton {
    padding: 6px 16px;
    border-radius: var(--big-border-radius);
    border: 2px solid var(--main-color);
    color: var(--main-color);
  }
  .hiddenContact {
    display: flex;
  }
  .showContact {
    display: none;
  }
  .show_nav {
    transform: translateX(0);
    transition: var(--transition);
  }
  .hide_nav {
    transform: translateX(100vw);
    transition: var(--transition);
  }
  .links {
    padding-top: 45px;
    position: absolute;
    width: 200px;
    height: calc(100vh - 100px);
    top: 100px;
    right: 0;
    z-index: 33;
    flex-direction: column;
    gap: 15px;
    background: var(--background);
    color: var(--white-color);
    font-size: var(--project-font);
    font-weight: 500;
    border-top-left-radius: var(--big-border-radius);
    overflow: hidden;
  }
  .logout {
    margin-left: 0px;
  }
  .link,
  .forDarkModeToggle,
  .logout {
    transform: translateX(100vw);
  }
  .link.open,
  .forDarkModeToggle.open,
  .logout.open {
    transform: translateX(0);
  }
  .open:nth-child(1) {
    transition-delay: 0.31s;
  }
  .open:nth-child(2) {
    transition-delay: 0.41s;
  }
  .open:nth-child(3) {
    transition-delay: 0.51s;
  }
  .open:nth-child(4) {
    transition-delay: 0.61s;
  }
  .open:nth-child(5) {
    transition-delay: 0.71s;
  }
  .open:nth-child(6) {
    transition-delay: 0.81s;
  }
  .toggleBtn {
    outline: none;
    border: none;
    display: grid;
    place-items: center;
    background: transparent;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 1rem;
  }
  .toggleBtn svg {
    color: var(--main-color);
  }
}