.container {
  height: 50px;
  font-size: var(--small-font);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 900px) {
  .container {
    margin-top: 80px;
  }
}
/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .container {
    margin-top: 50px;
  }
}
/* MEDIA QUERIES (very small screens) */
@media screen and (max-width: 450px) {
  .container {
    margin-top: 30px;
  }
}