.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.mainHeadline {
    display: flex;
    flex-direction: column;

    h1 {
        font-weight: 500;
    }

    p {
        font-size: var(--regular-medium-font);
        font-weight: 400;
    }
}

.justText {
    font-size: var(--ms-font);
    max-width: 550px;
}

.frontLinks {
    display: flex;
    align-items: center;
    gap: 32px;
}

.keyboardAndMouse {
    margin: 100px 0 185px;
    position: relative;
}

.keyboard {
    // Get rid of extra 4px height on parent element of image
    line-height: 0;

    img {
        width: 443px;
        height: 158px;

        @media screen and (max-width: 680px) {
            width: 400px;
            height: 128px;
        }

        @media screen and (max-width: 450px) {
            width: 85vw;
            height: 30vw;
        }
    }
}

.mouse {
    position: absolute;
    right: -200px;
    top: 0;
    // Get rid of extra 4px height on parent element of image
    line-height: 0;

    @media screen and (max-width: 880px) {
        right: -100px;
    }

    @media screen and (max-width: 630px) {
        display: none;
    }

    img {
        width: 80px;
        height: 155px;

        @media screen and (max-width: 680px) {
            width: 70px;
            height: 125px;
        }
    }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
    .mainHeadline {
        p {
            font-size: var(--ms-font);
        }
    }

    .justText {
        font-size: var(--regular-font);
        max-width: 450px;
    }

    .frontLinks {
        gap: 25px;
    }
}

/* MEDIA QUERIES (very small screens) */
@media screen and (max-width: 450px) {
    .mainHeadline {
        p {
            font-size: var(--regular-font);
        }
    }

    .justText {
        font-size: var(--small-font);
        max-width: 400px;
    }

    .frontLinks {
        gap: 19px;
    }
}