.container {
  padding-top: 170px;
}
.container h3 {
  margin: 35px 0;
}

.portfolioItems {
  display: flex;
  justify-content: space-around;
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .container {
    padding-top: 100px;
  }
}