@mixin button_projects {
    // these buttons are different than others in the project, that's why a special style is made for them
    padding: 10px 26px;
    font-weight: 500;
    font-size: var(--regular-font);
    text-transform: capitalize;
    border-radius: var(--xl-border-radius);

    /* MEDIA QUERIES (small screens) */
    @media screen and (max-width: 450px) {
        padding: 7px 20px;
        font-size: var(--small-font);
    }
}

.button {
    @include button_projects;

    color: var(--white-color);
    background: var(--main-color);

    &:hover {
        background: var(--dark-green-color);
    }
}

.flatButton {
    @include button_projects;

    color: var(--background);
    background: none;

    &:hover {
        color: var(--main-color);
    }
}

.portfolioPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 63px;
    margin: 44px 0 76px;
    text-align: left;

    article {
        max-width: 363px;
        display: flex;
        flex-direction: column;
    }

    .imageContainer {
        // Get rid of extra 4px height on parent element of image
        line-height: 0;

        img {
            width: 363px;
            height: 210px;
        }
    }

    h3 {
        font-weight: 500;
        font-size: var(--project-font);
        color: var(--white-color-third);
        letter-spacing: -0.05em;
        margin: 4px 0 16px;
    }

    .technologies {
        font-weight: 400;
        font-size: var(--small-font);
        color: var(--white-color-second);
        margin-top: 18px;
    }

    .description {
        font-weight: 400;
        font-size: var(--regular-font);
    }
}

/* MEDIA QUERIES (large screens) */
@media screen and (max-width: 1024px) {
    .buttons {
        gap: 14px;
    }

    .projects {
        gap: 58px;

        article {
            max-width: 353px;
        }

        .imageContainer {
            img {
                width: 353px;
                height: 200px;
            }
        }
    }
}

/* MEDIA QUERIES (large screens) */
@media screen and (max-width: 850px) {
    .buttons {
        gap: 12px;
    }

    .projects {
        gap: 40px;
        margin: 48px 0 56px;

        article {
            max-width: 340px;
        }

        .imageContainer {
            img {
                width: 340px;
                height: 188px;
            }
        }
    }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 450px) {
    .buttons {
        gap: 1px;
    }

    .projects {
        gap: 63px;
        margin: 50px 0 36px;

        article {
            max-width: 330px;
        }

        .imageContainer {
            img {
                width: 330px;
                height: 178px;
            }
        }

        h3 {
            font-size: var(--ms-font);
            margin: 2px 0 10px;
        }

        .technologies {
            font-size: var(--xsmall-font);
        }

        .description {
            font-size: var(--small-font);
        }
    }
}