.button {
  padding: 10px 26px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  transition: var(--transition);
  font-size: var(--regular-font);
  text-transform: capitalize;
  color: var(--white-color);
  background: var(--main-color);
  border-radius: var(--xl-border-radius);
}
.button:hover {
  background: var(--dark-green-color);
}

.flatButton {
  padding: 10px 26px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  transition: var(--transition);
  font-size: var(--regular-font);
  text-transform: capitalize;
  color: var(--background);
  background: none;
}
.flatButton:hover {
  color: var(--main-color);
}

.portfolioPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 63px;
  margin: 44px 0 76px;
  text-align: left;
}
.projects article {
  max-width: 363px;
  display: flex;
  flex-direction: column;
}
.projects h3 {
  font-weight: 500;
  font-size: var(--project-font);
  color: var(--white-color-third);
  letter-spacing: -0.05em;
  margin: 4px 0 16px;
}

.technologies {
  font-weight: 400;
  font-size: var(--small-font);
  color: var(--white-color-second);
  margin-top: 18px;
}

.description {
  font-weight: 400;
  font-size: var(--regular-font);
}