.button {
  padding: 10px 26px;
  font-weight: 500;
  font-size: var(--regular-font);
  text-transform: capitalize;
  border-radius: var(--xl-border-radius);
  /* MEDIA QUERIES (small screens) */
}
@media screen and (max-width: 450px) {
  .button {
    padding: 7px 20px;
    font-size: var(--small-font);
  }
}
.button {
  color: var(--white-color);
  background: var(--main-color);
}

.flatButton {
  padding: 10px 26px;
  font-weight: 500;
  font-size: var(--regular-font);
  text-transform: capitalize;
  border-radius: var(--xl-border-radius);
  /* MEDIA QUERIES (small screens) */
}
@media screen and (max-width: 450px) {
  .flatButton {
    padding: 7px 20px;
    font-size: var(--small-font);
  }
}
.flatButton {
  color: var(--background);
  background: none;
}
.flatButton:hover {
  color: var(--main-color);
}

.portfolioPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* MEDIA QUERIES (large screens) */
}
@media screen and (max-width: 1024px) {
  .buttons {
    gap: 14px;
  }
}
.buttons {
  /* MEDIA QUERIES (large screens) */
}
@media screen and (max-width: 850px) {
  .buttons {
    gap: 12px;
  }
}
.buttons {
  /* MEDIA QUERIES (small screens) */
}
@media screen and (max-width: 450px) {
  .buttons {
    gap: 1px;
  }
}