.container {
    width: max-content;
    height: max-content;
    border: 2px solid var(--main-color);
    border-radius: var(--big-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 6px;
    cursor: pointer;
    position: relative;
}

.icon {
    font-size: 19px;
    display: flex;
    place-items: center;
}

.ball {
    width: 23px;
    height: 23px;
    background: var(--main-color);
    border-radius: 50%;
    position: absolute;
}

/* MEDIA QUERIES (medium and small screens) */
@media screen and (max-width: 504px) {
    .container {
        border: 1.5px solid var(--main-color);
    }

    .icon {
        font-size: 15px;
    }

    .ball {
        width: 19px;
        height: 19px;
    }
}