// for page
.container {
    h2 {
        margin: 50px 0;
    }
}

.items {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    border: 2px solid var(--background);
    border-radius: var(--sm-border-radius);
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;

    &:hover img {
        transform: scale(1.15);
    }

    &:hover .itemTitle {
        color: var(--main-color);
    }

    img {
        transition: var(--transition);
    }
}

.itemTitle {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: var(--mb-font);
    font-weight: bold;
    transition: var(--transition);
    color: #bbb;
}