.top {
  display: flex;
  gap: 35px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc {
  font-size: var(--ms-font);
  font-weight: 300;
}

.author {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.imageContainer {
  flex: 1;
  position: relative;
  border-radius: var(--medium-border-radius);
  overflow: hidden;
  line-height: 0;
}
.imageContainer img {
  object-fit: cover;
}

.content {
  margin-top: 50px;
  font-size: var(--medium-font);
  font-weight: 300;
  color: var(--dark-gray-color);
  text-align: justify;
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 800px) {
  .top {
    flex-direction: column;
  }
  .info {
    gap: 40px;
  }
}
/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .content {
    text-align: left;
    font-size: var(--ms-font);
    line-height: 1.5;
  }
}
/* MEDIA QUERIES (very small screens) */
@media screen and (max-width: 450px) {
  .author {
    font-size: var(--small-font);
  }
}