.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  transition: var(--transition);
  background: var(--green-color);
  border: none;
  border-radius: 50%;
  padding: 13px;
}
.scrollButton:hover {
  background: var(--dark-green-color);
  box-shadow: 0 0 0 3px var(--green-color);
  border-color: var(--green-color);
}

.arrow {
  font-size: var(--mb-font);
}

/* MEDIA QUERIES (very small screens) */
@media screen and (max-width: 450px) {
  .arrow {
    font-size: var(--medium-font);
  }
}