:root {
  --green-color: #51c28a;
  --dark-green-color: #28714d;
  --white-color: #efefef;
  --gray-color: #bbb;
  --background: #333;
  --dark-gray-color: #676767;

  --small-border-radius: 0.313rem;
  --sm-border-radius: 0.625rem;
  --medium-border-radius: 0.938rem;
  --big-border-radius: 1.875rem;

  --small-font: 0.875rem;
  --ms-font: 1.125rem;
  --medium-font: 1.5rem;
  --mb-font: 2.5rem;
  --big-font: 4.5rem;
  --large-font: 6.5rem;

  --transition: all 270ms ease;
}

.light {
  /* background: var(--gray-color); */
  background: var(--white-color);
  color: var(--background);
  transition: 0.7s all ease;
}

.dark {
  /* --gray-color: #333; */
  --white-color: #333;
  --background: #bbb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin-inline: auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.moveImage {
  animation: imageMove 3s infinite ease alternate;
}

@keyframes imageMove {
  from {
    transform: translateY(-19px);
  }

  to {
    transform: translateY(0px) scale(1.05);
  }
}

/* MEDIA QUERIES (large screens) */
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 900px) {
  .container {
    padding: 0 40px;
  }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}