@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white-color: #F4F0FF;
  --white-color-second: #01000A;
  --white-color-third: #010009;
  --background: #02000F;
  --main-color: #0a66c2;
  --icons-color: hsl(249, 100%, 1%);


  --dark-green-color: #007db3;
  --dark-gray-color: #676767;
  --gray-color: #bbb;

  --small-border-radius: 0.313rem;
  --sm-border-radius: 0.625rem;
  --medium-border-radius: 0.938rem;
  --big-border-radius: 1.875rem;

  --xl-border-radius: 2.25rem;

  --big-font: 4.5rem;
  --mb-font: 2.5rem;
  --medium-font: 1.5rem;

  --large-font: 5.0rem;
  --mbs-font: 3.5rem;
  --regular-medium-font: 1.375rem;
  --project-font: 1.25rem;
  --ms-font: 1.125rem;
  --regular-font: 1rem;
  --small-font: 0.875rem;

  --transition: all 270ms ease;

  --max-width: 1366px;

  --big-width-padding: 60px;
  --normal-width-padding: 50px;
  --medium-width-padding: 40px;
  --small-width-padding: 20px;
  --xs-width-padding: 15px;
}

.light {
  background: var(--white-color);
  color: var(--background);
  transition: 0.7s all ease;
}

.dark {
  --white-color: #02000F;
  --white-color-second: #EFEDFD;
  --white-color-third: #F9FAFB;
  --background: #F4F0FF;
  --main-color: #08c3fd;
  --icons-color: #7F7C8F;


  --dark-green-color: #00a1e6;
  --dark-gray-color: #9d9d9d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scrollbar-color: #02000F #08c3fd;
  scrollbar-width: thin;
}

h1,
h2 {
  font-family: "Lexend", sans-serif;
}

h1 {
  font-size: var(--large-font);
}

h2 {
  font-size: var(--mbs-font);
}

h3 {
  font-size: var(--mb-font);
}

h4 {
  font-size: var(--medium-font);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: var(--max-width);
  min-height: 100vh;
  margin-inline: auto;
  padding: 0 var(--big-width-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layoutContainerAll {
  margin-top: 170px;
}

.moveImage {
  animation: imageMove 3s infinite ease alternate;
}

@keyframes imageMove {
  from {
    transform: translateY(-19px);
  }

  to {
    transform: translateY(0px) scale(1.05);
  }
}

/* MEDIA QUERIES (large screens) */
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 var(--normal-width-padding);
  }
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1000px) {

  .layoutContainerAll {
    margin-top: 150px;
  }

  .container {
    padding: 0 var(--medium-width-padding);
  }

  h1 {
    font-size: var(--big-font);
  }

  h2 {
    font-size: var(--mbs-font);
  }

  h3 {
    font-size: var(--mb-font);
  }

  h4 {
    font-size: var(--ms-font);
  }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .layoutContainerAll {
    margin-top: 120px;
  }

  .container {
    padding: 0 var(--small-width-padding);
  }
}

/* MEDIA QUERIES (very small screens) */
@media screen and (max-width: 450px) {
  .container {
    padding: 0 var(--xs-width-padding);
  }

  h1 {
    font-size: var(--mbs-font);
  }

  h2 {
    font-size: var(--mb-font);
  }

  h3 {
    font-size: var(--medium-font);
  }

  h4 {
    font-size: var(--small-font);
  }
}