@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white-color: #f4f0ff;
  --navbar-bg: #ece6fa;
  --white-color-second: #01000a;
  --white-color-third: #010009;
  --background: #02000f;
  --main-color: #0a66c2;
  --icons-color: #010005;
  --icons-footer-color: #150b3b;
  --footer-color: #080423;
  --footer-line: rgba(0, 0, 0, 0.24);

  --popup-bgd: rgba(10, 102, 194, 0.5);

  --input-border-color: #162235;

  --dark-main-color: #064079;
  --dark-gray-color: #676767;

  --gray-color: #bbb;

  --gray-color2: #1c1c1c;

  --xxl-border-radius: 6.25rem;
  --xl-border-radius: 2.25rem;
  --big-border-radius: 1.875rem;
  --medium-border-radius: 0.938rem;
  --sm-border-radius: 0.625rem;
  --small-border-radius: 0.313rem;

  --large-font: 5rem;
  --big-font: 4.5rem;
  --mbs-font: 3.5rem;
  --mb-font: 2.5rem;
  --medium-big-font: 2rem;
  --medium-font: 1.5rem;
  --regular-medium-font: 1.375rem;
  --project-font: 1.25rem;
  --ms-font: 1.125rem;
  --regular-font: 1rem;
  --small-font: 0.875rem;
  --xsmall-font: 0.775rem;

  --transition: all 270ms ease;

  --max-width: 1366px;

  --big-width-padding: 60px;
  --normal-width-padding: 50px;
  --medium-width-padding: 40px;
  --small-width-padding: 20px;
  --xs-width-padding: 15px;
}

.light {
  background: var(--white-color);
  color: var(--background);
  transition: 0.7s all ease;
}

.dark {
  --white-color: #02000f;
  --navbar-bg: #04001f;
  --white-color-second: #efedfd;
  --white-color-third: #f9fafb;
  --background: #f4f0ff;
  --main-color: #08c3fd;
  --icons-color: #7f7c8f;
  --icons-footer-color: #98a2b3;
  --footer-color: #d0d5dd;
  --footer-line: rgba(255, 255, 255, 0.24);

  --popup-bgd: rgba(8, 195, 253, 0.5);

  --input-border-color: #475467;

  --gray-color2: #c8c1c1;

  --dark-main-color: #028cb6;
  --dark-gray-color: #9d9d9d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: var(--large-font);
  letter-spacing: -0.02em;
}

h2 {
  font-size: var(--mbs-font);
  letter-spacing: -0.01em;
}

h3 {
  font-size: var(--mb-font);
}

h4 {
  font-size: var(--medium-font);
}

a {
  color: inherit;
  text-decoration: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--white-color);
  background: var(--main-color);
}

::selection {
  color: var(--white-color);
  background: var(--main-color);
}

input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
}

input,
textarea {
  transition: var(--transition);
}

input:focus,
textarea:focus {
  border: 1px solid var(--input-border-color);
  box-shadow: 0 0 10px var(--main-color);
}

input:hover,
textarea:hover {
  border-color: var(--input-border-color);
  box-shadow: 0 0 10px var(--main-color);
}

input:focus::placeholder,
textarea:focus::placeholder {
  transition: var(--transition);
  color: var(--main-color);
  transform: translateY(-10px);
  transform: translateX(10px);
  font-size: var(--small-font);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

.container {
  max-width: var(--max-width);
  min-height: 100vh;
  margin-inline: auto;
  padding: 0 var(--big-width-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layoutContainerAll {
  margin-top: 170px;
}

.moveImage {
  animation: imageMove 3s infinite ease alternate;
}

@keyframes imageMove {
  from {
    transform: translateY(-18px);
  }

  to {
    transform: translateY(0px) scale(1.05);
  }
}

/* MEDIA QUERIES (large screens) */
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 var(--normal-width-padding);
  }
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1000px) {
  .layoutContainerAll {
    margin-top: 150px;
  }

  .container {
    padding: 0 var(--medium-width-padding);
  }

  h1 {
    font-size: var(--big-font);
  }

  h2 {
    font-size: var(--mbs-font);
  }

  h3 {
    font-size: var(--mb-font);
  }

  h4 {
    font-size: var(--ms-font);
  }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .layoutContainerAll {
    margin-top: 120px;
  }

  .container {
    padding: 0 var(--small-width-padding);
  }
}

/* MEDIA QUERIES (very small screens) */
@media screen and (max-width: 450px) {
  .container {
    padding: 0 var(--xs-width-padding);
  }

  h1 {
    font-size: var(--mbs-font);
  }

  h2 {
    font-size: var(--medium-big-font);
  }

  h3 {
    font-size: var(--medium-font);
  }

  h4 {
    font-size: var(--small-font);
  }
}

/* for links and buttons */
.button {
  padding: 13px 23px;
  background: var(--main-color);
  border-radius: var(--xl-border-radius);
  border: 2px solid var(--main-color);
  color: var(--white-color);
  width: max-content;
  font-size: var(--regular-font);
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
}

.buttonContact {
  transition: var(--transition);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.buttonContact:hover {
  border-color: var(--input-border-color);
  box-shadow: 0 0 10px var(--main-color);
}

.button:hover {
  background: transparent;
  color: var(--main-color);
}

.buttonTransparent {
  font-size: var(--small-font);
  color: var(--main-color);
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: var(--xl-border-radius);
  padding: 4px 12px;
  transition: var(--transition);
}

.buttonTransparent:hover {
  background: var(--main-color);
  border-radius: var(--xl-border-radius);
  border: 2px solid var(--main-color);
  color: var(--white-color);
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
  background: var(--gray-color2);
  border: 2px solid var(--white-color);
}

.disabledButton:hover {
  color: var(--background);
}

.flat {
  color: var(--main-color);
  transition: var(--transition);
  font-size: var(--regular-font);
  position: relative;
  border-bottom: 1px solid var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.flat:hover {
  color: var(--dark-main-color);
  border-bottom: 1px solid var(--dark-main-color);
}

.flatWhite {
  font-size: var(--small-font);
  transition: var(--transition);
  color: var(--background);
  border-bottom: 1px solid var(--background);
}

.flatWhite:hover {
  color: var(--dark-main-color);
  border-bottom: 1px solid var(--dark-main-color);
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .button {
    padding: 12px 20px;
    font-size: var(--small-font);
  }

  .flat {
    font-size: var(--small-font);
  }
}

/* styles for flat link */
.mb-4 {
  margin-bottom: 12px;
  display: inline-block;
}

.mb-al {
  margin-bottom: 12px;
  display: inline-block;
  margin-left: 30px;
}
