.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 63px;
  margin: 44px 0 76px;
  text-align: left;
}
.projects article {
  max-width: 363px;
  display: flex;
  flex-direction: column;
}
.projects .imageContainer {
  line-height: 0;
}
.projects .imageContainer img {
  width: 363px;
  height: 210px;
}
.projects h3 {
  font-weight: 500;
  font-size: var(--project-font);
  color: var(--white-color-third);
  letter-spacing: -0.05em;
  margin: 4px 0 16px;
}
.projects .technologies {
  font-weight: 400;
  font-size: var(--small-font);
  color: var(--white-color-second);
  margin-top: 18px;
}
.projects .description {
  font-weight: 400;
  font-size: var(--regular-font);
}

.containerRadius {
  border-radius: var(--medium-border-radius);
  overflow: hidden;
}

/* MEDIA QUERIES (large screens) */
@media screen and (max-width: 1024px) {
  .projects {
    gap: 58px;
  }
  .projects article {
    max-width: 353px;
  }
  .projects .imageContainer img {
    width: 353px;
    height: 200px;
  }
}
/* MEDIA QUERIES (large screens) */
@media screen and (max-width: 850px) {
  .projects {
    gap: 40px;
    margin: 48px 0 56px;
  }
  .projects article {
    max-width: 340px;
  }
  .projects .imageContainer img {
    width: 340px;
    height: 188px;
  }
}
/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 450px) {
  .projects {
    gap: 63px;
    margin: 50px 0 36px;
  }
  .projects article {
    max-width: 330px;
  }
  .projects .imageContainer img {
    width: 330px;
    height: 178px;
  }
  .projects h3 {
    font-size: var(--ms-font);
    margin: 2px 0 10px;
  }
  .projects .technologies {
    font-size: var(--xsmall-font);
  }
}