.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom-left-radius: var(--big-border-radius);
  border-bottom-right-radius: var(--big-border-radius);
  width: 100vw;
  background: var(--white-color);
  padding: 0 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: var(--transition);
}

.link {
  transition: var(--transition);
}
.link:hover {
  color: var(--green-color);
}

.logout {
  padding: 5px 9px;
  border: none;
  background: var(--green-color);
  color: #efefef;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.8px;
  transition: var(--transition);
}
.logout:hover {
  background: var(--dark-green-color);
}

.toggleBtn {
  display: none;
}

.activeLink {
  background: var(--green-color);
  color: var(--white-color);
  padding: 5px 9px;
  border-radius: var(--small-border-radius);
  cursor: pointer;
}
.activeLink:hover a {
  color: var(--background);
}

/* MEDIA QUERIES (medium and small screens) */
@media screen and (max-width: 850px) {
  .container {
    padding: 0 2rem;
  }
}
/* MEDIA QUERIES (medium and small screens) */
@media screen and (max-width: 745px) {
  .container {
    padding: 0 1.1rem;
  }
  .show_nav {
    transition: var(--transition);
    transform: translateX(0);
  }
  .hide_nav {
    transform: translateX(100vw);
    transition: var(--transition);
  }
  .links {
    padding-top: 45px;
    position: absolute;
    width: 200px;
    height: calc(100vh - 100px);
    top: 100px;
    right: 0;
    z-index: 33;
    flex-direction: column;
    gap: 35px;
    background-image: linear-gradient(to bottom left, var(--white-color), var(--dark-gray-color));
    font-size: var(--medium-font);
    font-weight: 500;
    border-bottom-left-radius: var(--big-border-radius);
    border-top-left-radius: var(--big-border-radius);
    overflow: hidden;
  }
  .logout {
    padding: 9px 13px;
    font-weight: 500;
  }
  .link,
  .logout {
    transform: translateX(100vw);
  }
  .link.open,
  .logout.open {
    transform: translateX(0);
  }
  .open:nth-child(1) {
    transition-delay: 0.31s;
  }
  .open:nth-child(2) {
    transition-delay: 0.41s;
  }
  .open:nth-child(3) {
    transition-delay: 0.51s;
  }
  .open:nth-child(4) {
    transition-delay: 0.61s;
  }
  .open:nth-child(5) {
    transition-delay: 0.71s;
  }
  .open:nth-child(6) {
    transition-delay: 0.81s;
  }
  .open:nth-child(7) {
    transition-delay: 0.91s;
  }
  .open:nth-child(8) {
    transition-delay: 1.01s;
  }
  .toggleBtn {
    outline: none;
    border: none;
    display: grid;
    place-items: center;
    background: transparent;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 1rem;
  }
  .toggleBtn svg {
    color: var(--green-color);
  }
}