.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom-left-radius: var(--medium-border-radius);
  border-bottom-right-radius: var(--medium-border-radius);
  width: 100vw;
  background: var(--white-color);
  padding: 0 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  transition: var(--transition);
}
.link:hover {
  color: var(--green-color);
}

.logout {
  padding: 5px;
  border: none;
  background: var(--green-color);
  color: #efefef;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.8px;
  transition: var(--transition);
}
.logout:hover {
  background: var(--dark-green-color);
}