.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom-left-radius: var(--big-border-radius);
  border-bottom-right-radius: var(--big-border-radius);
  width: 100vw;
  background: var(--white-color);
  padding: 0 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  transition: var(--transition);
}
.link:hover {
  color: var(--green-color);
}

.logout {
  padding: 5px;
  border: none;
  background: var(--green-color);
  color: #efefef;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.8px;
  transition: var(--transition);
}
.logout:hover {
  background: var(--dark-green-color);
}

/* MEDIA QUERIES (medium and small screens) */
@media screen and (max-width: 704px) {
  .links {
    padding-top: 45px;
    position: absolute;
    width: 200px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 33;
    flex-direction: column;
    gap: 35px;
    background-image: linear-gradient(to bottom left, var(--white-color), var(--dark-gray-color));
    font-size: var(--medium-font);
    font-weight: bolder;
    border-bottom-left-radius: var(--big-border-radius);
    border-top-left-radius: var(--big-border-radius);
    overflow: hidden;
  }
  .link {
    transform: translateX(100vw);
  }
  .link.open {
    transform: translateX(0);
  }
  .link:nth-child(1) {
    transition-delay: 0.29s;
  }
  .link:nth-child(2) {
    transition-delay: 0.39s;
  }
  .link:nth-child(3) {
    transition-delay: 0.49s;
  }
  .link:nth-child(4) {
    transition-delay: 0.59s;
  }
  .link:nth-child(5) {
    transition-delay: 0.69s;
  }
  .link:nth-child(6) {
    transition-delay: 0.79s;
  }
}