.container {
    margin-top: 150px;
    color: var(--background);
    max-width: var(--max-width);


    h1 {
        font-size: var(--mb-font);
        margin-bottom: 1.7rem;
        color: var(--main-color);
    }

    h2 {
        font-size: var(--medium-font);
        margin: 1.2rem 0;
        color: var(--main-color);
    }

    ul {
        margin: 0.6rem 0;
        padding-left: var(--mb-font);
    }
}