.container {
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.mainHeadline {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @media screen and (max-width: 750px) {
        margin-bottom: 70px;
    }

    h2 {
        font-weight: 500;
        letter-spacing: -0.01em;
    }

    p {
        margin-top: 10px;
        font-size: var(--ms-font);
        font-weight: 300;
        color: var(--white-color-second);
        opacity: 80%;
    }
}

.aboutTextMainWithLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textMe {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 870px) {
        gap: 15px;
        padding: 0 15px;
    }

    @media screen and (max-width: 750px) {
        flex-direction: column;
        gap: 50px;
    }
}

.articleText {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.horizontalLine {
    width: calc(var(--max-width) - var(--big-width-padding));
    height: 1px;

    @media screen and (max-width: 1250px) {
        width: 92vw;
    }
}

.textandIcons {
    position: relative;

    .justText {
        max-width: 460px;
        text-align: left;

        h3 {
            font-size: var(--regular-font);
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            display: inline;
        }

        p {
            font-size: var(--regular-font);
            font-weight: 400;
            color: var(--white-color-second);
            opacity: 70%;
            display: inline;
        }
    }

    .line {
        position: absolute;
        left: -25px;
        top: 5px;
    }

    .square {
        position: absolute;
        top: -45px;
        left: 1px;
    }
}

.miroslav {
    // Get rid of extra 4px height on parent element of image
    line-height: 0;

    img {
        width: 245px;
        height: 345px;
    }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
    .mainHeadline {
        p {
            font-size: var(--regular-font);
        }
    }

    .textandIcons {
        .justText {
            max-width: 460px;

            h3 {
                font-size: var(--small-font);
            }

            p {
                font-size: var(--small-font);
            }
        }

        .line {
            left: -17px;
        }

        .square {
            top: -37px;
        }
    }
}

/* MEDIA QUERIES (very small screens) */
@media screen and (max-width: 450px) {}