.container {
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
}

.mainHeadline {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media screen and (max-width: 750px) {
  .mainHeadline {
    margin-bottom: 70px;
  }
}
.mainHeadline h2 {
  font-weight: 500;
  letter-spacing: -0.01em;
}
.mainHeadline p {
  margin-top: 10px;
  font-size: var(--ms-font);
  font-weight: 300;
  color: var(--white-color-second);
  opacity: 80%;
}

.aboutTextMainWithLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textMe {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 870px) {
  .textMe {
    gap: 15px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 750px) {
  .textMe {
    flex-direction: column;
    gap: 50px;
  }
}

.articleText {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.horizontalLine {
  width: 1200px;
  height: 1px;
}
@media screen and (max-width: 1250px) {
  .horizontalLine {
    width: 92vw;
  }
}

.textandIcons {
  position: relative;
}
.textandIcons .justText {
  max-width: 460px;
  text-align: left;
}
.textandIcons .justText h3 {
  font-size: var(--regular-font);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline;
}
.textandIcons .justText p {
  font-size: var(--regular-font);
  font-weight: 400;
  color: var(--white-color-second);
  opacity: 70%;
  display: inline;
}
.textandIcons .line {
  position: absolute;
  left: -25px;
  top: 5px;
}
.textandIcons .square {
  position: absolute;
  top: -45px;
  left: 1px;
}

.miroslav {
  line-height: 0;
}
.miroslav img {
  width: 245px;
  height: 345px;
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .mainHeadline p {
    font-size: var(--regular-font);
  }
  .textandIcons .justText {
    max-width: 460px;
  }
  .textandIcons .justText h3 {
    font-size: var(--small-font);
  }
  .textandIcons .justText p {
    font-size: var(--small-font);
  }
  .textandIcons .line {
    left: -17px;
  }
  .textandIcons .square {
    top: -37px;
  }
}
/* MEDIA QUERIES (very small screens) */