.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.mainHeadline {
    display: flex;
    flex-direction: column;

    h2 {
        font-weight: 500;
        letter-spacing: -0.01em;
    }

    p {
        margin-top: 10px;
        font-size: var(--ms-medium-font);
        font-weight: 300;
        color: var(--white-color-second);
        opacity: 80%;
    }
}

.textMe {
    display: flex;
}

.miroslav {
    // Get rid of extra 4px height on parent element of image
    line-height: 0;

    img {
        width: 245px;
        height: 345px;
    }
}