.container {
    padding-top: 170px;

    h3 {
        margin: 35px 0;
    }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
    .container {
        padding-top: 100px;
    }
}