.container {
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 52px;
}
@media screen and (max-width: 750px) {
  .container {
    gap: 62px;
  }
}

.mainHeadline {
  display: flex;
  flex-direction: column;
}
.mainHeadline p {
  margin-top: 10px;
  font-size: var(--ms-font);
  font-weight: 300;
  color: var(--white-color-second);
  opacity: 80%;
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .container {
    padding-top: 100px;
  }
  .mainHeadline p {
    font-size: var(--regular-font);
  }
}