.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 20px;
    background-color: transparent;
    border: 1px solid var(--gray-color);
    border-radius: var(--medium-border-radius);
    font-size: var(--medium-font);
    font-weight: bold;
    color: var(--background);
}

.button {
    padding: 20px 40px;
    cursor: pointer;
    background: var(--green-color);
    border: none;
    border-radius: var(--medium-border-radius);
    color: var(--white-color);
    width: max-content;
    transition: var(--transition);
    display: inline-block;
    font-size: var(--medium-font);
    display: inline-block;

    &:hover {
        background: var(--dark-green-color);
    }
}