.catTitle {
    color: var(--main-color);
    text-transform: capitalize;
    margin: 100px 0 150px;
    text-align: center;
}

// MEDIA QUERIES (medium screens)
@media screen and (max-width: 860px) {
    .catTitle {
        margin: 50px 0 70px;
    }
}