.catTitle {
    color: var(--green-color);
    text-transform: capitalize;
    margin: 100px 0 150px;
    font-size: var(--big-font);
}

.item {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

.content {
    // flex: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: center;

    h3 {
        font-size: var(--mb-font);
    }

    p {
        font-size: var(--medium-font);
    }
}

.imgContainer {
    // flex: 1;
    flex-basis: 50%;
    height: 500px;
    position: relative;
    border-radius: var(--sm-border-radius);
    overflow: hidden;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

// MEDIA QUERIES (medium screens)
@media screen and (max-width: 860px) {
    .item {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 100px;

        &:nth-child(odd) {
            flex-direction: column;
        }
    }

    .imgContainer {

        height: 600px;


        img {

            height: 600px;

        }
    }
}