.layoutTitle {
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    /* MEDIA QUERIES (medium screens) */
    @media screen and (max-width: 800px) {
        margin-bottom: 65px;
    }

    /* MEDIA QUERIES (very small screens) */
    @media screen and (max-width: 450px) {
        margin-bottom: 45px;
    }

    p {
        font-size: var(--ms-font);
    }

    a {
        color: #00a1e6;
        transition: var(--transition);

        &:hover {
            color: hsl(198, 100%, 35%);
        }
    }
}

.mainHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}