.layoutTitle {
    margin-bottom: 65px;
    font-size: var(--big-font);
}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.imgContainer {
    border-radius: var(--sm-border-radius);
    overflow: hidden;

    img {
        object-fit: cover;
    }
}

.content {
    h2 {
        font-size: var(--mb-font);
    }

    p {
        font-size: var(--ms-font);
        margin: var(--medium-font) 0;
    }

    span {
        color: var(--dark-gray-color);
    }
}