.layoutTitle {
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  /* MEDIA QUERIES (medium screens) */
  /* MEDIA QUERIES (very small screens) */
}
@media screen and (max-width: 800px) {
  .layoutTitle {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 450px) {
  .layoutTitle {
    margin-bottom: 45px;
  }
}
.layoutTitle p {
  font-size: var(--ms-font);
}
.layoutTitle a {
  color: #00a1e6;
  transition: var(--transition);
}
.layoutTitle a:hover {
  color: hsl(198, 100%, 35%);
}