.layoutTitle {
  margin-bottom: 65px;
}

.allBlogs {
  display: flex;
  flex-direction: column-reverse;
}

.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.imgContainer {
  flex-basis: 40%;
  border-radius: var(--medium-border-radius);
  overflow: hidden;
  line-height: 0;
}
.imgContainer img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.content {
  flex-basis: 60%;
}
.content p {
  font-size: var(--ms-font);
  margin: var(--medium-font) 0;
}
.content time {
  color: var(--dark-gray-color);
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 800px) {
  .layoutTitle {
    margin-bottom: 165px;
  }
  .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 200px;
    height: auto;
  }
}
/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .imgContainer {
    max-width: 430px;
  }
}
/* MEDIA QUERIES (very small screens) */
@media screen and (max-width: 450px) {
  .imgContainer {
    max-width: 350px;
  }
  .layoutTitle {
    margin-bottom: 85px;
  }
}