.layoutTitle {
  margin-bottom: 65px;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.imgContainer {
  flex-basis: 50%;
  border-radius: var(--sm-border-radius);
  overflow: hidden;
}
.imgContainer img {
  object-fit: cover;
}

.content {
  flex-basis: 50%;
}
.content p {
  font-size: var(--ms-font);
  margin: var(--medium-font) 0;
}
.content time {
  color: var(--dark-gray-color);
}