.input {
    border: none;
    outline: none;
    padding: 20px;
    background-color: transparent;
    border: 1px solid var(--gray-color);
    border-radius: var(--medium-border-radius);
    font-size: var(--medium-font);
    font-weight: bold;
    color: var(--background);
}

.passwordHolder {
    display: inline-block;
    position: relative;

    .eyeIcon {
        position: absolute;
        top: 13%;
        right: 15px;
        cursor: pointer;
        padding: 10px;
        font-size: 35px;
    }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
    .input {
        padding: 10px;
        font-size: var(--ms-font);
    }

    .passwordHolder {

        .eyeIcon {
            position: absolute;
            top: -20%;
            right: 1px;
            padding: 20px;
            font-size: 25px;
        }
    }
}